*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}
html
{
    scroll-behavior: smooth;
}
.fa
{
    color: goldenrod;
}
.fa-comment
{
    color:  rgb(204, 94, 94);
}
.container
{
    position: fixed;
    width: 100%;
    z-index: 5;
    padding: 10px 0;
    background-color:  rgb(204, 94, 94);
   
}
.container.active
{
    background-color: white;
    color: black;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
.nav-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.logo img
{
    height: 30px;
    margin-left: 50px;
}
ul.navlist
{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin-right: 50px;
}
ul.navlist img
{
    height: 20px;
    padding-left: 10px;
    cursor: pointer;
}
ul.navlist a
{
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    margin-left: 30px;
    color: black;
    letter-spacing: 1px;
}
.active ul.navlist a 
{
    color: black;
}
ul.navlist a:hover 
{
    color: pink;
    transition: .5s ease-in-out;
}
.hamburger
{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
    float: right;
    margin-right: 40px;
}
.hamburger
{
    display: none;
}
.hamburger span
{
    background-color: black;
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}
/* end of the navbar  */

.products
{
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}
.product-name

{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    font-family: 'Permanent Marker', cursive;
    width: 62%;
}
.product-row
{
    width: 70%;
}
.feature-pro
{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items:center ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.pro-content
{
    margin-bottom: 40px;
}
.pro-content:hover
{
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
select
{
    border: 1px solid #ff523b;
    padding: 5px;
}
.page-btn
{
    margin-top: 80px;
    margin-left: 20px;
}
.page-btn span
{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover
{
    background-color: #ff523b;
    color: white;
    transition: all 0.3s ease-in-out;
}



section.footer
{
    margin-top: 200px;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer-row
{
    width: 80%;
}
.footer-colom
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
    
}
.link-app h2
{
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    margin-bottom: 20px;
}
.link-app p
{
    font-size: 12px;
    margin-bottom: 10px;
}
.app-imgs
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-imgs img
{
    height: 40px;
    cursor: pointer;
    margin-right: 5px;
}
.app-imgs img:hover
{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
.web-detail
{
    width: 300px;
    text-align: center;
}
.web-detail img
{
    height: 40px;
    color: white;
    background-color: white;
    margin-bottom: 10px;
}
.useful-links
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.useful-links h2
{
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 10px;
    font-size: 20px;
}
.useful-links a
{
    color: white;
    text-decoration: none;
    margin-top: 4px;
}
.useful-links a:hover
{
    color: gainsboro;
    transition: all 0.4s ease-in-out;
}
.follow-us
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.follow-us h2
{
    font-family: 'Permanent Marker', cursive;
    margin-bottom: 10px;
    font-size: 20px;
}
.follow-us a
{
    color: white;
    text-decoration: none;
    margin-top: 4px;
}
.follow-us a:hover
{
    color: gainsboro;
    transition: all 0.4s ease-in-out;
}

.about-me
{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-top: 40px;
}

@media only screen and (max-width:1365px)
{
    .hamburger
    {
        display: flex;
        z-index: 999;
    }
    .products
    {
        width: 100%;

    }
    .products .product-name h1
    {
        font-size: 25px;
        text-align: center;
    }  

    #nav-ul
   {
    background: linear-gradient(45deg, #434343,pink);
    position: fixed;
    width: 100%;
    height: 70%;
    left: 0;
    right: 0px;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-top: 60px;
    opacity: 0;
    pointer-events: none;
   
   }
     #nav-ul a
   {
       font-size: 30px;
    color: white;
    margin-top: 40px;
   }
     #nav-ul a:hover
   {
    color: #f44336;
    }
      #nav-ul img 
   {
    display: none;
   }

      #nav-ul.open
   {
    color: white;
    opacity: 1;
    pointer-events: auto;
    transition: all  0.5s ease-in-out;
    transform: translateY(20px); 
    }
     .hamburger span
    {
       transform-origin: left;
       transition: all .5s ease-in-out;
    }
}
@media only screen and (max-width:1145px)
{
    .pro-content
    {
        margin-top: 20px;
    }
.footer-colom .link-app h2
{
    font-size: 15px;
    margin-bottom: 5px
}
.footer-colom .link-app p
{
    font-size: 10px;
}
.app-imgs img
{
    height: 30px;
    cursor: pointer;
    margin-right: 5px;
}
.web-detail
{
    width: 150px;
}
.web-detail img
{
    height: 30px;
    color: white;
    background-color: white;
    margin-bottom: 5px;
}
.web-detail p 
{
    font-size: 10px;
}
.useful-links h2
{
    margin-bottom: 5px;
    font-size: 15px;
}
.useful-links a 
{
    font-size: 10px;
    margin-bottom: 5px;
}
.follow-us h2 
{
    margin-bottom: 5px;
    font-size: 15px;
}
.follow-us a
{
    font-size: 10px;
    margin-bottom: 5px;
}
.about-me p 
{
    font-size: 10px;
}
}
@media only screen and (max-width:700px)    
{


.footer-colom
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    
}
.link-app
{
    margin-bottom: 40px;
}
.link-app h2
{
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.web-detail
{
    width: 200px;
    margin-bottom: 30px;
}
.useful-links 
{
    margin-bottom: 20px;
}

.useful-links h2
{
    margin-bottom: 10px;
    font-size: 20px;
} 
.useful-links a
{
    font-size: 14px;
}
.follow-us h2
{
    font-size: 22px;
}
.follow-us a
{
    font-size: 14px;
}

}
@media only screen and (max-width:500px)
{
    .products h1 
    {
        font-size: 144px;
    }
    option 
    {
        width: 40px;
    }
    select 
    {
        width: 90px;
        font-size: 10px;
    }
}
